<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<%@grid.each do |letter| %>
  <%= letter %>
<% end %>

<form action="/score" method="get">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :grid, @grid.join %>
  <input type="text" name="word" placeholder="make a word">
  <input type="submit" value="Play!">
</form>




